<ul>
	<li><strong><%= "#{assignment.task.name}: #{assignment.city.name}" %></strong></li>
	<li id="currentStatus"><em><%= assignment.status %></em></li>
	<li><%= "Deadline: #{parse_time(assignment.deadline)}" if assignment.deadline %></li>
	<li><%= "Scheduled Duration: #{assignment.duration} hours" if assignment.duration %></li>
	<li><%= "Time Spent: #{distance_of_time_in_words(assignment.elapsed)}" if assignment.elapsed != 0 %></li>
	<!-- <li><#%= "Time Spent: #{Time.at(assignment.elapsed).utc.strftime("%H:%M:%S")}"%></li> -->

	<% if assignment.comments.count > 0 %>
		<li class="comment">
			<%= "\"#{assignment.comments.first.content}\""  %>
		</br>
			<%= "- from #{assignment.comments.first.user.name}" %>	
		</li>
	<% end %>


	<div id="statusLink">
		<%= render 'assignments/status_link', :assignment => assignment %>	
	</div>
</ul>