<ul>
	<li><%= "#{assignment.task.name}: #{assignment.city.name}" %></li>
	<li><%= "Deadline: #{assignment.deadline}" if assignment.deadline %></li>
	<li><%= "Scheduled Duration: #{@user.current_assignment.duration}" if assignment.duration %></li>
	<li><em><%= assignment.status %></em></li>
	<div id="statusLink">
		<%= render 'assignments/status_link' %>	
	</div>
</ul>