<% if @assignment %>
	<p><%= "Assigning #{@assignment.task.name} to #{@assignment.user.name} for #{@assignment.project.name}"%></p>

	<%= form_for @assignment, :remote => true do |f| %>

	<div>
		<%= f.label :duration %>
		<%= f.text_field :duration %> hours
	</div>

	<div>
		<%= f.label :deadline %>
		<%= f.text_field :deadline, :class => "datepicker" %>
	</div>

	<div id="commentsForm">
		<%= f.fields_for :comments do |builder| %>
	    <%= render "comments/form", :f => builder %>
	  <% end %>
	</div>

	<div>
		<%= f.submit "Assign task" %>
	</div>

	<%= f.hidden_field :user_id %>
	<%= f.hidden_field :task_id %>
	<%= f.hidden_field :project_id %>
	<%= f.hidden_field :queue_index, :value => @queue_index %>

	<% end %>
<% end %>