<div class="assignmentShow" data-sort="<%= assignment.queue_index %>" data-id="<%= assignment.id %>">
	<a href="#" class="assignmentName"><%= "#{assignment.task.name}: #{assignment.project.name}" %></a>
	

	<% if params[:appendLocation] %>
		<%= render "assignments/manage_header", :assignment => assignment%>
	<% else %>
		<%= render "assignments/user_header", :assignment => assignment %>
	<% end %>


	

	<ul class="assignmentDetails">
		<li><%= "Deadline: #{parse_time(assignment.deadline) || 'None set'}" %></li>
		<li><%= "Scheduled duration: #{ assignment.duration || 'Not set'} hours" %></li>
		<li><%= "Time Spent: #{distance_of_time_in_words(assignment.elapsed_time)}"  if assignment.elapsed_time != 0 %></li>

		<% if assignment.comments.count > 0 %>
			<li class="comment">
				<%= "\"#{assignment.comments.first.content}\""%>
				</br> 
				<%= "-#{assignment.comments.first.user.name}" %>
			</li>
		<% end %>
	</ul>	
</div>