<% if user.assigned? %>

	<% if user.incomplete_assignments.count > 0 %>
		<h3><%= "Current Task:" %></h3>
		<div id="currentTask">
			<%= render :partial => 'assignments/current_task', :locals => { :assignment => user.current_assignment }  %>
		</div>
	<% end %>
	
	<% if !user.on_hold.blank? %>
		<h3>On Hold: </h3>
		<ul>
			<% user.on_hold.each do |item| %>
				<li>
					<%= "#{item.task.name}: #{item.project.name}" %></br>
					<!-- <#%= "Time Spent: #{Time.at(item.elapsed_time).utc.strftime("%H:%M:%S")}"%></br> -->
				 <%= "Time Spent: #{distance_of_time_in_words(item.elapsed_time)}" if item.elapsed_time != 0 %></br>
					<%= hold_resume(item) %>
				</li> 
			<% end %>
		</ul>
	<% end %>

	<!-- queued -->
	<% if !user.queued.blank? %>
	<h3>Queue:</h3>
	<ul>
		<% user.queued.each do |item| %>
			<li><%= "#{item.task.name}: #{item.project.name}" %></li>
		<% end %>
	</ul>
	<% end %>

<% else %>
	<p>You currently have no assignments</p>
	<!-- <#%= link_to "Get new assignment (not active yet)", "#", :remote => true %>	 -->
<% end %>

