<div class="resourceColumn" id="taskGroup">
	<% if Task.any? %>
		<% if @task_groups.any? %>

			<% @task_groups.each do |task_group| %>
				<ul>
					<div class="draggable taskGroupName" data-tasks="<%= task_group.tasks.map(&:id).join(" ") %>"><%= task_group.name %></div>
					<% if @grouped_tasks[[task_group.id]] %>
						<% @grouped_tasks[[task_group.id]].each do |task| %>
							<li class="draggable" data-task-assign="<%= task.id %>">
								<%= task.name %>
								<%= render "shared/resource_links", :resource => task %>
							</li>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		<% end %>
		<ul>
			<div class="taskGroupName">Ungrouped Tasks</div>
				<% @grouped_tasks[[]].each do |task| %>
					<li class="draggable" data-task-assign="<%= task.id %>">
						<%= task.name %>
						<%= render "shared/resource_links", :resource => task %>
					</li>
				<% end %>
		</ul>
				

	<% else %>
		<p>There are no tasks yet.</p>
	<% end %>

</div>	