<div class="taskBox draggable" data-task="<%= task.id %>" data-city="<%= city.id %>" data-taskColor="<%= task.color %>">
	<%= task.name %>
	<div class="taskProgress">
		<%= task_progress_bar(task, city) %>
	</div>
</div>