<div class="resourceColumn resourceFormDrawer">
	<%= form_for @task_group, :remote => true do |f| %>
		<div id="taskGroupErrors"></div>
		<div>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
			
		<%= f.submit %>
		<%= f.submit :Cancel if !@task_group.new_record? %>	
	<% end %>
</div>