<div class="userBox droppable" data-user="<%= user.id %>" data-color="<%= user.current_city_color %>" data-taskColor="<%= user.task_color%>">

	<% if user.assigned?%>

		<div class="cityStripe">
			<p><%= user.city_name %></p>
		</div>

		<div class="assignments">
			<p><%= user.assignments.first.task.name %></p>
		</div>
			
	<% end %>
	<div class="userName">
		<p><%= user.name %></p>
	</div>
</div>

	
