<%= content_tag "div", :class => user.assigned? ? "userBox droppable occupied" : "userBox droppable available", 'data-user' => user.id, 'data-color' => user.current_project_color, 'data-taskColor' => user.task_color, :data => {:userInfo => user} do %>

	<div class="userName" >
		<p><%= user.name %></p>
	</div>
	<% if user.assigned?%>

		<div class="projectStripe">
			<p><%= user.project_name %></p>
		</div>

		<div class="assignments">
			<p><%= user.current_assignment.task.name %></p>
			<p>
				<em>
					<%= status_bar(user) %>
				</em>
			</p>
		</div>	
	<% end %>

<% end %>

	
