<div class="userBox droppable" data-user="<%= user.id %>" data-color="<%= user.current_city_color %>" data-taskColor="<%= user.task_color%>">

	<% if user.assignments.any? %>
		<div class="assignments">
			<p><%= "Current: #{user.assignments.first.city.name} " %></p>
			<p><%= user.assignments.first.task.name %></p>

		</div>
			
	<% end %>
	<p class="userName"><%= user.name %></p>
</div>

	
