<div class="resourceColumn">
	<% if users.any? %>
		<% users.each do |user| %>
		<ul>
			<li data-id="<%= user.id %>">
				<%= user.name %> |
				<%= "Admin | " if user.has_role? :admin %>
				<%= link_to "view user's page", user_path(user) %> |
				<%= link_to "edit", edit_user_path(user) %> |
				<%= link_to "delete", user_path(user), :method => :delete, :confirm => "Are you sure you want to delete this user?"%>
			</li>
		</ul>
		<% end %>
	<% else %>
		<p><%= "No users yet." %></p>
	<% end %>
</div>
