<div class="resourceColumn">
	<% if users.any? %>
		<ul>
			<% users.each do |user| %>
				<li data-id="<%= user.id %>">
					<%= user.name %>
					<%= "| Admin" if user.has_role? :admin %>

					<%= link_to "delete", user_path(user), :method => :delete, :confirm => "Are you sure you want to delete this user?", :class => "resourceLinks"%>
					<span class="resourceLinks">|</span>
					<%= link_to "edit", edit_user_path(user), :class => "resourceLinks" %>
					<span class="resourceLinks">|</span>
					<%= link_to "view user's page", user_path(user), :class => "resourceLinks" %>					
					
				</li>
			<% end %>
		</ul>
	<% else %>
		<p><%= "No users yet." %></p>
	<% end %>
</div>
