<div id="userDisplay">
	<div class="userHeadline">
<!-- 		<span class="pullLeft assignmentManager">
			<%= link_to "Reorder", "#", :remote => true %> |
			<%= link_to "Delete", "#", :remote => true %>
		</span> -->
		<span class="userLink"><%= link_to user.name %></span>
		<!-- <span><h2 class="inline"><%= user.name %></h2></span> -->
		<span><%= "<#{user.email}>" %></span>
		<!-- <span><#%= link_to "View User", user_path(user) %></span> -->
	</div>

	<% if user.assigned? %>


		<div class="queuedAssignments">
			<%= render :partial => "assignments/index", :locals => { :user => user } %>
		</div>

	<% else %>
		<p>This user currently has no assignments.</p>	
	<% end %>

</div>