<div id="userPage">
	<div id="userTaskBar">
		<h2><%= @user.name %></h2>
		<div id="userAssignments">
			<%= render "assignments/user_assignments" %>	
		</div>
		<div id="completedAssignments">
			<%= render "assignments/completed_assignments" %>
		</div>	
	</div>

	<div id="userAnnouncements">
		<% if @announcements.count > 0 %>
		<h4>Announcements:</h4>
			<% @announcements.each do |announcement| %>
				<p class="eachAnnouncement">
					<strong><%= "#{announcement.subject}:" %></strong>
					<%= announcement.content %>
					<span class="deleteButton">x</span>
				</p>
			<% end %>
		<% end %>

	</div>

</div>
	