<div class="dropdown projectName" data-color="<%= @project.color if @project %>">
	<%= link_to @project.name, project_path(@project) if @project %>
	<ul class="dropdownMenu">
		<% @projects.each do |project| %>
			<li data-color="<%= project.color %>" class="dropdownProject" data-project="<%= project.id %>">
				<%= project.name %>
			</li>
		<% end %>
	</ul>
</div>


<% if @project %>
	<% if @project.tasks.any? %>
	<div>
		<% @project.tasks.each do |task| %>
			<%= render :partial => 'tasks/show', :locals => { :task => task, :project => @project } %>
		<% end %>	
	</div>
	<% else %>
		<p>There are no tasks for this project</p>
	<% end %>
<% else %>
<p>There are no projects</p>
<% end %>	