<div class="dropdown cityName" data-color="<%= @city.color %>">
	<%= link_to @city.name, "#" %>
	<ul class="dropdownMenu">
		<% @cities.each do |city| %>
			<li data-color="<%= city.color %>"><%= link_to city.name, root_path(:city_id => city.id), :remote => true %></li>
		<% end %>
	</ul>
</div>

<% if @tasks.any? %>
<div>
	<% @tasks.each do |task| %>
	<%= render :partial => 'tasks/show', :locals => { :task => task, :city => @city } %>
	<% end %>
</div>
<% end %>