<div class="dropdown projectName" data-color="<%= @project.color if @project %>">
	<%= link_to @project.name, "#" if @project %>
	<ul class="dropdownMenu">
		<% @projects.each do |project| %>
			<li data-color="<%= project.color %>" class="dropdownProject" data-project="<%= project.id %>">
				<%= project.name %>
			</li>
		<% end %>
	</ul>
</div>

<% if @tasks.any? %>
<div>
	<% @tasks.each do |task| %>
	<%= render :partial => 'tasks/show', :locals => { :task => task, :project => @project } %>
	<% end %>
</div>
<% end %>