<div class="resourceColumn resourceFormDrawer">
	<%= form_for @project do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :deadline %>
		<%= f.text_field :deadline, :class => "datepicker" %>
	</div>	
	<div>
		<%= f.label :color %>
		<%= f.text_field :color, :class => "colorPicker" %>
	</div>	
		
		<%= f.submit %>
	<% end %>
</div>
	