<div class="resourceColumn" id="projectGroup">
	<% if @projects.any? %>

		<% @projects.each do |project| %>
			<ul class="droppable" data-project="<%= project.id %>">
				<div class="projectGroupName">
					<%= link_to project.name, project %>
					<%= render "shared/resource_links", :resource => project %>	
				</div>
				<div class="projectTasks">
					<% if project.tasks.any? %>
						<% project.tasks.each do |task| %>
							<li>
								<%= task.name %>
								<%= link_to "x", project_path(project, :remove => task.id), :method => :put, :confirm => "Are you sure you want to remove this task?", :remote => true, :class => 'right' %>							
							</li>
						<% end %>
					<% else %>
						<p>No tasks for this project</p>	
					<% end %>
				</div>
			</ul>
		<% end %>

	<% else %>
		<p><%= "No projects yet." %></p>
	<% end %>
</div>
	