<!DOCTYPE html>
<html>
<head>
  <title>Trackle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pompiere|Josefin+Slab|Merriweather+Sans|Pontano+Sans|Titillium+Web|Karla|Patrick+Hand+SC|Sintony|Roboto|Roboto+Condensed|Fredoka+One|Archivo+Narrow|Averia+Sans+Libre|Special+Elite|Quicksand|Londrina+Sketch|Bubbler+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		  <%= render 'layouts/navbar' %>
      <%= render 'layouts/messages' %>
      <div id="alerts"></div>
		<%= yield %>		
	</div>



</body>
</html>
